<!-- Modal -->
<div class="modal fade" id="modal_recovery_pass" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="font-size:20px">Recuperar contraseña</h5>

            </div>
            <div class="modal-body">
                <form id="frm-rec">
                    <label>E-mail</label>
                    <input type="text" class="form-control" name="email" />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-primary" value="Recuperar contraseña">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

